* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Main Page Layout */

#main-content {
  margin: 225px 400px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}




/* Portfolio Header */

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
}

.portfolio-header-image {
  width: 100%;
  height: auto;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
}




/* About Section */

/* #about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}




/* Project Section */
#my-internship-section,
#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.project-card {
  flex: 1 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: #e0e0e0;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
}

.right-arrow-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

    /* Project Cards */

    /* .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 34px;
      padding: 15px;
    } */
    /* .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 34px;
      padding: 20px; 
      background-color: #f5f5f5; 
      border-radius: 8px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
    .project-card-text-container {
      flex-direction: column;
      display: flex;
      gap: 16px
    } */

    /* .project-image {
      width: 100%;
      height: 200px; 
      object-fit: cover;
      object-position: center;
      border-radius: 8px; 
    } */

.custom-link {
  text-decoration: none; /* Remove underline */
  color: black; /* Set the desired color (here, it's orange) */
}
hr {
    border: 1px solid #000; /* Set the border color to black */
    height: 2px; /* Set the height of the line to 2 pixels */
    margin: 0px 0; /* Add some margin above and below the line */
  }


/* Project Pages */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

    /* Project Gallery */

    #project-gallery {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .project-gallery-content {
      display: flex;
      flex-wrap: wrap;
      gap: 34px 16px;
    }

    .gallery-image-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .gallery-image-container.half-width {
      width: calc((100% - 16px) / 2);
    }

    .gallery-image {
      width: 100%;
      height: auto;
    }


/* Custom style for the ROLE text */
/* .role-text {
  margin-top: 10px;
} */

.role {
  font-weight: bold;
}
.job-title {
  font-style: italic;
}


/* FOTTER CSS */
.footer-icon {
  transform: scale(2); /* Adjust the scale factor as per your preference */
  margin-right: 20px; /* Adjust the space between each icon as per your preference */

}
/* Footer Section */
#footer {
  background-color: white;
  color: #fff; /* Set the text color to white */
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#footer p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.8;
  /* color: #ccc; */ /* Remove this line as it sets the text color to gray */
}
  
/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 225px 275px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 225px 175px;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 225px 75px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}



